---
import Countdown from "../components/Countdown.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Location from "../components/Location.astro";
import Images from "../components/Images.astro";
import Quote from "../components/Quote.astro";
import Story from "../components/Story.astro";
import Music from "../components/Music.astro";
---

<Layout title="Allen Wedding">
    <section
        class="py-10"
        style="background-image: url(/images/background/repeat-background/nice_snow.png);"
    >
        <Header />
        <Music />

        <Countdown />
    </section>
    <section
        class="py-10"
        style="background-image: url(/images/background/image.png); background-size: cover;"
    >
        <Quote />
    </section>
    <section
        class="py-10"
        style="background-image: url(/images/background/repeat-background/ricepaper2.png);"
    >
        <About />
    </section>
    <section
        class="py-10"
        style="background-image: url(/images/background/repeat-background/ep_naturalwhite.png);"
    >
        <Story />
    </section>
    <section
        class="py-10"
        style="background-image: url(/images/background/repeat-background/vintage-concrete.png);"
    >
        <Location />
    </section>
    <section class="py-10" style="">
        <Images />
    </section>
</Layout>
