<section class="py-10">
    <div class="container mx-auto px-4">
        <img
            class="flower-2-right"
            style="position: absolute;"
            src="/src/assets/images/background/flowers/right-1.svg"
        />
        <img
            class="flower-2-left"
            style="position: absolute;"
            src="/src/assets/images/background/flowers/left-1.svg"
        />
        <div
            class="flex flex-col md:flex-row items-center justify-center gap-10"
        >
            <div class="desc-groom">
                <p>
                    <span style="color: #1b5f8c"
                        ><strong>First princess of</strong></span
                    ><br />
                    <span class="text-[#9f46d6] parents-font"
                        ><strong>Mr Biju TJ</strong></span
                    >
                    <br />
                    <span class="text-[#9f46d6] parents-font"
                        ><strong>Mrs. Slivy Biju</strong></span
                    >
                </p>
                <div id="social-media-rehan">
                    <ul class="fh5co-social-icons">
                        <li>
                            <a
                                target="_blank"
                                href="https://github.com/rayhanyulanda"
                                ><i class="icon-github-with-circle"></i></a
                            >
                        </li>
                        <li>
                            <a
                                target="_blank"
                                href="https://www.linkedin.com/in/rayhanyulanda/"
                                ><i class="icon-linkedin-with-circle"></i></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <img
                    src="/images/aleena.webp"
                    alt="Bride"
                    class="w-64 h-64 rounded-full mx-auto mb-4 object-cover"
                />
                <h2 class="text-[#9f46d6] text-2xl font-bold">Aleena Biju</h2>
                <p class="text-[#9f46d6]">The Bride</p>
            </div>
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-16 h-16"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                ></path>
            </svg>
            <div class="text-center">
                <img
                    src="/images/allen.webp"
                    alt="Groom"
                    class="size-64 rounded-full object-cover mb-4"
                />
                <h2 class="text-[#9f46d6] text-2xl font-bold">
                    Allen Mathew Joseph s
                </h2>
                <p class="text-[#9f46d6]">The Groom</p>
            </div>
            <div class="desc-groom">
                <p>
                    <span style="color: #1b5f8c"
                        ><strong>First son of</strong></span
                    ><br />
                    <span class="text-[#9f46d6] parents-font"
                        ><strong>Mr Joseph Mathew </strong></span
                    >
                    <br />
                    <span class="text-[#9f46d6] parents-font"
                        ><strong>Mrs Theresa Joseph</strong></span
                    >
                </p>
                <div id="social-media-rehan">
                    <ul class="fh5co-social-icons">
                        <li>
                            <a
                                target="_blank"
                                href="https://github.com/rayhanyulanda"
                                ><i class="icon-github-with-circle"></i></a
                            >
                        </li>
                        <li>
                            <a
                                target="_blank"
                                href="https://www.linkedin.com/in/rayhanyulanda/"
                                ><i class="icon-linkedin-with-circle"></i></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .couple-half .groom {
        float: right;
        margin-right: 5px;
    }
    .couple-half .bride {
        float: left;
        margin-left: 5px;
    }
    .couple-half .desc-groom {
        padding-right: 180px;
        text-align: right;
    }
    .couple-half .desc-bride {
        padding-left: 180px;
        text-align: left;
    }
    @media screen and (max-width: 480px) {
        .couple-half .groom,
        .couple-half .bride {
            margin-left: 0;
            margin-right: 0;
        }
        .couple-half .desc-groom {
            padding-right: 0;
            text-align: center;
        }
        .couple-half .desc-bride {
            padding-left: 0;
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .flower-2-left {
            left: -20px;
            height: 200px;
            /* bottom: 0; */
        }
        .flower-2-right {
            right: 0;
            height: 200px;
        }
    }

    @media (min-width: 768px) {
        .flower-2-left {
            height: 35%;
            left: -30px;
        }
        .flower-2-right {
            height: 35%;
            right: -30px;
        }
    }
</style>
