---

---

<header class="pt-20 pb-10 text-center">
    <div class="flex justify-center">
        <img src="/images/logo.png" alt="" class="size-96 couple-main" />
    </div>
    <h3
        class="text-[#007EA7] text-4xl md:text-6xl font-semibold mb-4"
        style="font-family: 'Bodoni Moda Variable', serif;"
    >
        A&A
    </h3>
    <p class="text-[#007EA7] text-xl md:text-2xl">
        <strong>We invite you to our wedding</strong>
    </p>
    <div class="flex items-center font-semibold justify-center mt-4">
        <span class="text-[#007EA7]">January 06, 2025, 10:30 AM</span>
    </div>
</header>