<div class="py-20">
    <h1 class="text-[#9f46d6] text-3xl md:text-6xl font-bold mb-4 text-center">SHE SAID YES 💍</h1>

    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance py-5 text-center">
        Our story began with a fleeting glance at school in 2015, where we
        instantly felt a connection that seemed destined. Life took us on
        different paths, but fate brought us back together years later, in
        February 2018, we crossed paths again in a church, a place where
        serendipity seemed to bless us. From that day on, we knew we wanted to
        share our lives forever. What started as a friendship blossomed into
        deep, comforting love.
    </p>
    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance py-5 text-center">
        Our journey over the past six years has been filled with ups and downs,
        moments of joy, and challenges that tested our bond. Despite the
        hurdles, including a year and a half of long-distance relationship, our
        love only grew stronger.
    </p>

    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance py-5 text-center">
        Now, with the blessings of our families, we are stepping into the next
        chapter of our lives together. This is the moment we have been waiting
        for, the moment our hearts have longed for.
    </p>

    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance py-5 text-center">
        As we stand on the brink of forever, we invite you all to join us in
        celebrating the incredible journey that has brought us to this moment.
    </p>

    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance pt-5 text-end mx-28 lg:mx-72">With lots and lots of love,</p>

    <p class="text-[#9f46d6] text-xl md:text-2xl text-balance py-5 text-end mx-28 lg:mx-72">Allen & Aleena</p>
</div>
