<div class="py-20">
    <h1 class="text-[#1890c9] text-3xl md:text-6xl font-bold mb-4 text-center">
        SHE SAID YES!
    </h1>

    <p class="text-[#1890c9] text-xl md:text-2xl text-balance py-5 text-center">
        With the blessings of our parents, we, Allen & Aleena, joyfully invite you 
        to celebrate our union in holy matrimony.
        The wedding will take place on January 6th, 2025, at
        St. John the Baptist Syro Malabar Forane Church. Following the Holy Mass
        inside the church, a reception will be held in the church's parish hall.
    </p>
    <p class="text-[#1890c9] text-xl md:text-2xl text-balance py-5 text-center">
       As we take the first step into our forever,we would be honored to have you 
       by our side to share in the joy of our wedding day.Your love and blessings
      have always been a source of strength for us, and we would be delighted to 
      have you join us on this special day.
    </p>

    <p class="text-[#1890c9] text-xl md:text-2xl text-balance py-5 text-center">
        We envision a life where we support and uplift each other, creating a
        home filled with warmth, kindness, and understanding. Together, we will
        face life's challenges and celebrate its triumphs, always holding each
        other close.
    </p>
    <p
        class="text-[#1890c9] text-xl md:text-2xl text-balance pt-5 text-end mx-28 lg:mx-72"
    >
        With love and gratitude,
    </p>
    <p
        class="text-[#1890c9] text-xl md:text-2xl text-balance py-5 text-end mx-28 lg:mx-72"
    > Allen & Aleena
    </p>
  <p
        class="text-[#1890c9] text-xl md:text-2xl text-balance pt-5 text-end mx-28 lg:mx-72"
    >
        Best Compliments,
    </p>

    <p
        class="text-[#1890c9] text-xl md:text-2xl text-balance py-5 text-end mx-28 lg:mx-72"
    >
        Anitta Maria Joseph & Alona Biju
    </p>

</div>
